<h1>Criar Produto</h1>

<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="name">Nome do Produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto" />
    </div>
    <div class="form-control">
        <label for="image">Imagem do Produto:</label>
        <input type="text" name="image" placeholder="Insira a imagem do Produto" />
    </div>
    <div class="form-control">
        <label for="price">Preço:</label>
        <input type="text" name="price" placeholder="Digite o Valor" />
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" cols="30" rows="10" placeholder="Descrição do Produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>